.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pwgen.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/Python-pwgen.iml
__pycache__/MainGui.cpython-34.pyc
__pycache__/CharacterSets.cpython-34.pyc
__pycache__/BuildPermutations.cpython-34.pyc
__pycache__/
newTryBecause/.idea/.name
newTryBecause/.idea/misc.xml
newTryBecause/.idea/modules.xml
newTryBecause/.idea/newTryBecause.iml
newTryBecause/.idea/vcs.xml
newTryBecause/.idea/workspace.xml
